{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": ["unused-imports"],
  "rules": {
    "no-unused-vars": "warn", // or "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-duplicate-imports": 2,
    "no-var": 2,
    "prefer-spread": 2,
    "eqeqeq": 2,
    "no-console": 1,
    "no-extra-semi": 2,
    "no-empty": 2,
    "no-unreachable": 2
  }
}
