{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": ["unused-imports"],
  "extends": ["react-app"], // this important to make eslint parser for jsx files work correctly
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "off",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-var": "error",
    "no-duplicate-imports": "error",
    "no-console": "warn",
    "no-extra-semi": "error",
    "no-empty": "warn",
    "no-unreachable": "warn",
    "eqeqeq": "error",
    "prefer-spread": "error"
  }
}
