.bitlist {
  margin: 15px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.bitbox {
  display: grid;
  grid-auto-columns: 10px;
  grid-template-rows: repeat(5, 3rem);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow-x: scroll;
}

.bitbox.input_extended {
  grid-template-rows: repeat(2, 3rem) 1rem repeat(5, 3rem);
}

.bitbox.input_extended_small {
  grid-template-rows: repeat(1, 3rem) 1rem repeat(5, 3rem);
}

.button_area {
  height: 45px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button_area button {
  border: none;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button_area button.button_disabled {
  background-color: #b2b2b2;

  cursor: default;
}

.button_area button.button_disabled {
  background-color: #b2b2b2;

  cursor: default;
}

.cell {
  display: flex;
  grid-column-end: span 5;
  justify-content: center;
}

.bit_row {
  display: grid;
}

.bit_cell,
.bit_section,
.bit_row {
  grid-row-start: 1;
}

.bit_number_cell {
  grid-row-start: 2;
}

.byte_ruler_cell {
  grid-row-start: 3;
}

.byte_values_cell {
  grid-row-start: 4;
}

.byte_buttons_cell {
  grid-row-start: 5;
}

/* extended row-positions */

.input_extended .input_bitstring_cell,
.input_extended .input_bitstring_filler_cell,
.input_extended .bit_row {
  grid-row-start: 1;
}

.input_extended .bit_cell,
.input_extended .bit_section {
  grid-row-start: 2;
}

.input_extended .operation_results_separator {
  grid-row-start: 3;
}

.input_extended .operation_bit_section {
  grid-row-start: 4;
}

.input_extended .bit_number_cell {
  grid-row-start: 5;
}

.input_extended .byte_ruler_cell {
  grid-row-start: 6;
}

.input_extended .byte_values_cell {
  grid-row-start: 7;
}

.input_extended .byte_buttons_cell {
  grid-row-start: 8;
}

/* extended row-positions */

/* extended row-positions */

.input_extended_small .operation_results_separator {
  grid-row-start: 2;
}

.input_extended_small .operation_bit_section {
  grid-row-start: 3;
}

.input_extended_small .bit_number_cell {
  grid-row-start: 4;
}

.input_extended_small .byte_ruler_cell {
  grid-row-start: 5;
}

.input_extended_small .byte_values_cell {
  grid-row-start: 6;
}

.input_extended_small .byte_buttons_cell {
  grid-row-start: 7;
}

/* extended row-positions */

.input_bitstring_cell {
  display: flex;
}

.filler_7 {
  grid-column-end: span 35;
}
.filler_6 {
  grid-column-end: span 30;
}
.filler_5 {
  grid-column-end: span 25;
}
.filler_4 {
  grid-column-end: span 20;
}
.filler_3 {
  grid-column-end: span 15;
}
.filler_2 {
  grid-column-end: span 10;
}
.filler_1 {
  grid-column-end: span 5;
}

.operation_results_separator {
  border-top: 2px solid black;
  width: 100%;
  display: flex;
}

.operation_bit_section {
  display: flex;
}

.bit_number {
  position: relative;
  padding-top: 10px;
  grid-column-end: span 5;
  padding-left: 7px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.bit_number:before {
  content: "";
  border-right: 2px solid gray;
  width: 2px;
  height: 8px;
  position: absolute;
  left: 51%;
  top: 0;
}

.bit_number_invisible:before {
  content: "";
  border: unset;
  width: unset;
  height: unset;
  position: unset;
  left: unset;
  top: unset;
}

.f.bit_number::before {
  display: none;
}

.byte_ruler {
  position: relative;
  z-index: 5;
  grid-column-end: span 40;
  border-right: 1px solid black;
  border-left: 1px solid black;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.byte_ruler:after {
  content: "";
  position: absolute;
  top: 50%;
  border-top: 2px solid black;
  height: 2px;
  width: 100%;
}

.left-border {
  border-left: 2px solid black;
}

.right-border {
  border-right: 2px solid black;
}

.byte_label {
  padding: 0 5px;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.byte_values {
  position: relative;
  z-index: 5;
  grid-column-end: span 40;
}

.byte_values .hex_val {
  text-transform: uppercase;
}

.byte_buttons {
  position: relative;
  z-index: 5;
  grid-column-end: span 40;
  padding-bottom: 10px;
}

.byte_buttons button {
  border: none;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.byte_buttons button:disabled {
  background-color: rgb(190, 190, 190);
  cursor: not-allowed;
}

.fillerBox {
  border: 1px solid grey;
  display: inline-flex;
  padding: 6px;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  color: white;
  z-index: 10;
}

.fillerBox input[type="checkbox"] {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.fillerBox input[type="checkbox"].checkbox_disabled {
  background-color: #b2b2b2;

  cursor: default;
}

.fillerBox input[type="checkbox"]:before {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.fillerBox .dropdown {
  border: none;

  position: relative;
  width: 30px;
  -moz-padding-start: calc(10px - 3px);
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.dropdown_control {
  background-color: #b9b9b9;
}

.dropdown_menu {
  background-color: white;
  color: black;
  padding: 10px;
}

.dropdown_menu div {
  /* margin-bottom: 5px; */
}

.dropdown_placeholder {
  padding-left: 10px;
}

.input_wrapper {
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  height: 45px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  width: 180px;
}

.input_wrapper .label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: white;
}

.input_wrapper input {
  margin: 0;
  width: 250%;
}

.input_wrapper input.hex_input {
  text-transform: uppercase;
  width: 150%;
}

.bit_input_field {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 40px;
  font-size: 1.5rem;
  letter-spacing: 35.5px;
  padding-left: 21px;
  left: -15px;
  background: none;
  color: black; /* sets the color of both caret and text */
  -webkit-text-fill-color: transparent;
  border: none;
  width: 110%;
  min-width: 200px;
  font-family: Courier;

  /* top: 47px; */
  /* left: 0; */
  /* -webkit-text-fill-color: black; */
}

.bit_input_field:focus {
  outline: none;
}

.bit_section {
  position: relative;
  display: flex;
  width: 100%;
  z-index: 3;
}

.operations_dropdown_1 {
  position: relative;
  z-index: 11;
  background-color: rgb(36, 36, 36);
  height: 45px;
  width: 190px;

  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  border: 1px solid rgb(36, 36, 36);
}

.operations_dropdown_control_1 {
  cursor: pointer;
}

.operations_dropdown_menu_1 {
  background-color: white;
  color: black;
  border: 1px solid rgb(36, 36, 36);
}

.operations_dropdown_menu_1 div {
  height: 1.5rem;
  padding: 10px 5px;
  cursor: pointer;
}

.operations_dropdown_placeholder_1 {
  height: 1.5rem;
  padding: 10px 5px;
}

button.add_operation_1 {
  border-radius: 50%;
  background-color: rgb(36, 36, 36);
  color: white;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
}

.byteInformationSwitchWrapper {
  display: flex;
  gap: 10px;
}

.byteInformationSwitchRadioButtonOutline {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
  align-items: center;
}

.byteInformationSwitchRadioButton {
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0;
}

.byteInformationSwitchRadioButtonOutline input[type="checkbox"] {
  width: 25px;
  height: 25px;
  position: relative;
}

.byteInformationSwitchRadioButtonOutline input[type="checkbox"]:checked:after {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: rgb(36, 36, 36);

  content: "";
  display: inline-block;
  visibility: visible;
}
